- if @buckets.any?
  %table
    %thead
      %tr
        %th Name
        %th Contains
        %th Updated on
        %th Info
        %th Actions
    %tbody
      - @buckets.each do |bucket|
        %tr
          %th
            %a{ :href => "/control/buckets/#{bucket.name}" } #{bucket.name}
          %td #{bucket.total_children rescue 0} files
          %td #{bucket.updated_at}
          %td #{bucket.access_readable + (bucket.versioning_enabled? ? ",versioned" : "")}
          %td
            %a{ :href => "/control/delete/#{bucket.name}", :onClick => S3::POST, :title => "Delete Bucket #{bucket.name}" } Delete
- else
  %p A sad day. You have no buckets yet.
%h3 Create a Bucket
%form.create{ :method => "post" }
  = preserve errors_for(@bucket)
  %input{ :name => "bucket[owner_id]", :type => "hidden", :value => @bucket.owner_id }
  %div.required
    %label{ :for => "bucket[name]" } Bucket Name
    %input{ :name => "bucket[name]", :type => "text", :value => @bucket.name }
  %div.required
    %label{ :for => "bucket[access]" } Permissions
    %select{ :name => "bucket[access]" }
      - S3::CANNED_ACLS.sort.each do |acl,perm|
        - opts = { :value => perm }
        - opts[:selected] = true if perm == @bucket.access
        %option{ opts } #{acl}
  %input#newbucket{ :type => "submit", :value => "Create", :name => "newbucket" }
